#footer h3,
#footer h4 {
  font-weight: bold;
}

#footer hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

#footer ul {
  margin-bottom: 48px;
}

#footer li {
  font-size: small;
  margin-bottom: 16px;
}
